* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e5eaf5; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0d0d ;
    color: #ffffff;
    padding: 25px;
    z-index: 1000;
}

.navbar h1 {
    margin: 0;
    font-size: 30px;
}

.navbar nav {
    display: flex;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}

.navbar a:hover {
    text-decoration: underline;
    color: #d0bdf4; /* Medium Purple */
}

.container {
    display: flex;
    flex: 1;
}

.product-container {
    width: 75%;
    padding: 20px;
    background-color:  #1b1f29f3; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    overflow-y: auto;
    height: calc(100vh - 60px);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #262626; 
}


.product {
    width: calc(25% - 20px);
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #0000;
    border-radius: 8px;
    background-color: #0c0c0cf3; 
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover; 
    margin-bottom: 10px; 
}

.product h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.product p {
    font-size: 16px;
    color: #f7f7f7;
    margin: 10px 0 0 0; 
}

.product img {
    margin-bottom: 10px; 
}

.terminal-container {
    width: 25%;
    padding: 20px;
    background-color: black; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    position: sticky;
    top: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-left: 1px solid #444444;
}

.terminal-output {
    flex: 1;
    border: 1px solid #444444;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #13132b;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    color: #00ffd1;
}

#command-line {
    width: 100%;
    padding: 15px;
    border: 1px solid #444444;
    border-radius: 8px;
    background-color: #333333;
    color: #ffff66;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7);
    font-size: 16px;
}

@media (max-width: 768px) {
    .product {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product {
        width: calc(100% - 20px);
    }
}
